<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.master.cs" Inherits="Online_Test.Default1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <%---<form id="form1" runat="server">---%>
    <div class="container">
       
         <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
         
            </asp:ContentPlaceHolder>
        </div>

    </div>
    
    <%---</form>---%>
</body>
</html>
