<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="master.master.cs" Inherits="Online_Test.master" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    
    <title></title>
    <script src="Scripts/bootstrap.js" type="text/javascript"></script>
   
    <script src="Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>

    <link href="Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <!--JQWidget-->

    

    <link rel="stylesheet" href="Content/JQWidgets/jqx.base.css" type="text/css" />
     
    <script type="text/javascript" src="Scripts/jqwidgets/jqx-all.js"></script>
    
   




    <!--JQWidget-->
    <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li><a id="giris_btn" href="Login.aspx">Giriş Yap</a></li>
        <li><a id="kayit_btn" href="Register.aspx">Kayıt Ol</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

        
       <div class="container">
           <div class="row">
                <div class="col-xs-12 col-md-9">

                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        <!--İçerik-->
                     </asp:ContentPlaceHolder>

                </div>
                <div class="col-xs-6 col-md-3" style="background-color:mediumvioletred">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                        <!--Yan menu-->
                     </asp:ContentPlaceHolder>
                </div>
            </div>
       </div>
        <footer style="background-color:beige; bottom:0px; position:absolute; width:100%;">
            Footer
        </footer>
        
    </div>
    </form>
</body>
</html>
